.menuWrapper {
  display: flex;
  gap: 15px;
}

.menuText {
  font-size: 25px;
}

.logOutBtn {
  border-radius: 10px;
  border: 2px solid rgb(157, 157, 157);
  cursor: pointer;
}

.logOutBtn:hover {
  background-color: rgb(231, 229, 229);
}
